body{
    background: repeating-linear-gradient(-45deg, rgb(54, 54, 54) 0%, rgb(71, 71, 71) 10%, rgb(54, 54, 54) 20%);
    color: rgb(243, 242, 229);
}

.title {
    margin: 20px auto;
    text-align: center;
    color: #daa806;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

.board {
    margin: 30px auto;
    display: grid;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 3px 2px #daa806;
    background-color: white;
}

.board:hover {
    cursor: pointer;
}

.pixel {
    box-sizing: border-box;
    border: rgb(231, 231, 230) 1px solid;
}

.controls {
    text-align: center;
}